* {
  box-sizing: border-box;
}
body {
  background-image: url(../images/pattern-background-desktop.svg);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: sans-serif;
  padding: 1rem;
  /* background: violet; */
}
.card {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 90vh;
  width: 100%;
  border-radius: 10%;
  overflow: hidden;
}
.ladyImg {
  background-image: url(../images/illustration-hero.svg);
  object-fit: contain;
  height: 30vh;
  width: 100%;
}
.content--div {
  border: solid blue 1px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}
.sum--div {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sum--p {
  margin: 0;
  text-align: center;
  color: grey;
}
.sum--h1 {
  margin-bottom: 1rem;
}
.plan--div {
  display: flex;
  background-color: rgb(172, 230, 243);
  font-size: 10px;
  font-weight: normal;
}
.plan--annual {
}
